
<mat-expansion-panel>
    <mat-expansion-panel-header class="stretch">
        <mat-panel-title>
            {{(link && link.id) || "New Link"}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
        <input #linkId placeholder="Link ID" value={{link?.id}} matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-select #kopf placeholder="Connection" [(value)]="selected">
            <mat-option>Origin</mat-option>
            <div *ngFor="let joint of (joints | async)">
                <mat-option *ngFor="let idx of joint.mpIds" value="{{joint.id}} - {{idx}}">
                    {{joint.id}} - {{idx}}
                </mat-option>
            </div>
        </mat-select>
    </mat-form-field>
    <div *ngFor="let length of edgeLengths; index as idx">
        <mat-form-field>
            <input placeholder="Length {{idx + 1}}" matInput value="{{edgeLengths[idx]}}">
        </mat-form-field>
        <mat-form-field *ngIf="idx !== edgeLengths.length - 1; else newAngle">
            <input placeholder="Angle {{idx + 1}}" matInput value="{{relAngles[idx]}}">
        </mat-form-field>
    </div>

    <mat-slider #previewAngle color="accent" matTooltip="preview angle" matTooltipPosition="left" matTooltip="preview angle"
        min="0" max="360" step="1" value="getAngle()" thumbLabel></mat-slider>
    <mat-checkbox [checked]="absAngle !== undefined">angle fixed</mat-checkbox>

    <div>
        <button mat-stroked-button mat-button color="warn" (click)="abort()">Abort</button>
        <button mat-stroked-button mat-button color="accent" (click)="update(linkId.value, previewAngle.value)">Update</button>
    </div>
</mat-expansion-panel>

<ng-template #newAngle>
    <button mat-button mat-stroked-button (click)="addEdge()">Add edge</button>
</ng-template>



