<mat-expansion-panel>
    <mat-expansion-panel-header class="stretch">
        <mat-panel-title>
            {{(link && link.id) || "New Link"}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
        <input #linkId placeholder="Link ID" value={{id}} matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-select #kopf placeholder="Connection" [(value)]="selected">
            <mat-option>Origin</mat-option>
            <div *ngFor="let joint of (joints | async)">
                <mat-option *ngFor="let idx of joint.mpIds" value="{{joint.id}} - {{idx}}">
                    {{joint.id}} - {{idx}}
                </mat-option>
            </div>
        </mat-select>
    </mat-form-field>
    <div *ngFor="let length of edgeLengths; index as idx">
        <mat-form-field>
            <input #edgeLength placeholder="Length {{idx + 1}}" matInput value="{{edgeLengths[idx]}}" (change)="alterValue(true, idx, edgeLength.value)">
        </mat-form-field>
        <mat-form-field *ngIf="idx !== edgeLengths.length - 1; else newAngle">
            <input #relAngle placeholder="Angle {{idx + 1}}" matInput value="{{relAngles[idx]}}" (change)="alterValue(false, idx, relAngle.value)">
        </mat-form-field>
    </div>

    <mat-slider #previewAngle color="accent" matTooltip="preview angle" matTooltipPosition="left" matTooltip="preview angle"
        min="0" max="360" step="1" value="getAngle()" thumbLabel></mat-slider>
    <mat-checkbox [checked]="absAngle !== undefined">angle fixed</mat-checkbox>

    <div>
        <button mat-stroked-button mat-button color="warn" (click)="clearInputs(!!link)">Abort</button>
            <button *ngIf="link; else newLink" mat-stroked-button mat-button color="accent" (click)="mutateLink(linkId.value, previewAngle.value)">
                Update
            </button>

    </div>
</mat-expansion-panel>

<ng-template #newLink>
    <button [disabled]="linkId.value === ''" mat-stroked-button mat-button color="accent" (click)="defineLink(linkId.value, previewAngle.value)">
        Create
    </button>
</ng-template>

<ng-template #newAngle>
    <button mat-button mat-stroked-button (click)="addEdge()">Add edge</button>
    <button mat-button mat-stroked-button (click)="removeEdge()" color="warn" *ngIf="edgeLengths.length > 1">Remove</button>
</ng-template>
