<br>

<mat-form-field class="stretch">
    <mat-select placeholder="Webkinematik">
        <mat-option (click)="clear()">New Mechanism</mat-option>
        <mat-option *ngFor="let example of exampleService.ids" [value]="example" (click)="loadMech(example)">
            {{example}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-accordion>
    <app-link *ngFor="let link of (links | async)" [link]="link"></app-link>
    <app-link></app-link>
</mat-accordion>
<br>
<hr>
<br>
<app-solver></app-solver>

