<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Connections
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let loop of (loops | async)">
            <mat-form-field>
                <mat-select placeholder="From" value="{{loop.left.linkId}} - {{loop.left.mountId}}">
                    <mat-option>Origin</mat-option>
                    <div *ngFor="let joint of (joints | async)">
                        <mat-option *ngFor="let idx of joint.mpIds" value="{{joint.id}} - {{idx}}">
                            {{joint.id}} - {{idx}}
                        </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="To" value="{{loop.right.linkId}} - {{loop.right.mountId}}">
                    <mat-option>Origin</mat-option>
                    <div *ngFor="let joint of (joints | async)">
                        <mat-option *ngFor="let idx of joint.mpIds" value="{{joint.id}} - {{idx}}">
                            {{joint.id}} - {{idx}}
                        </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </div>
        <button mat-button (click)="addConnection">
            Add connection
        </button>

    </mat-expansion-panel>
</mat-accordion>
<div>
    <mat-slider #phiSlider [disabled]="!phi.value" class="stretch" color="primary" min="0" max="360" step="1" value="0"
        thumbLabel (input)="changePhi(phi.value, phiSlider.value)"></mat-slider>
    <mat-form-field>
        <mat-select #phi placeholder="Guide">
            <mat-option *ngFor="let link of (links | async)" value="{{link.id}}">
                {{link.id}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
